{
  "openapi": "3.1.0",
  "info": {
    "title": "Artifact Share API",
    "version": "0.1.0",
    "description": "Artifact Share is reached programmatically through its remote MCP endpoint at /mcp (JSON-RPC over Streamable HTTP), not a REST API. An MCP client (Claude, ChatGPT, Cursor) authorizes with OAuth 2.1 and then calls tools to share, update, read, comment on, and organize artifacts. See /capabilities.md for the full tool list and /.well-known/agent.json for discovery."
  },
  "servers": [
    {
      "url": "https://artifactshare.com"
    }
  ],
  "paths": {
    "/mcp": {
      "post": {
        "summary": "MCP endpoint (JSON-RPC over Streamable HTTP)",
        "description": "Remote MCP server. Accepts JSON-RPC 2.0 (initialize, tools/list, tools/call) with an OAuth 2.1 bearer token. See /capabilities.md for the full tool list.",
        "security": [
          {
            "oauth2": ["artifactshare:access"]
          }
        ],
        "responses": {
          "200": {
            "description": "JSON-RPC response."
          },
          "401": {
            "description": "Missing or invalid bearer token; the WWW-Authenticate header points at the protected-resource metadata."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth 2.1 authorization-code flow with PKCE, served under /api/auth. MCP clients obtain the bearer token for /mcp this way; the same endpoints are advertised at /.well-known/oauth-authorization-server.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://artifactshare.com/api/auth/oauth2/authorize",
            "tokenUrl": "https://artifactshare.com/api/auth/oauth2/token",
            "scopes": {
              "openid": "Authenticate the user",
              "profile": "Read basic profile (name, locale)",
              "email": "Read the verified email address",
              "offline_access": "Issue a refresh token for offline use",
              "artifactshare:access": "View, share, update, and permanently delete Artifact Share files; manage projects and comments"
            }
          }
        }
      }
    }
  }
}
